.profile {
  margin-left: 7.3125rem; //Side Menu size
  padding: 3.75rem 6.25rem;
  display: grid;
  grid-template-areas: 
    "titre titre titre titre"
    "a a a e"
    "b c d e";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 320px 263px;
  gap: 1.875rem;
}

@media all and (max-width: 1439px) {
  .profile {
    padding: 2rem;
    grid-template-areas: 
    "titre titre titre"
    "e e e"
    "a a a"
    "b c d"
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }
}
