.nutrients {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: e;
  border-radius: 5px;
}

@media all and (max-width: 1439px) {
  .nutrients {
    flex-direction: row;
    gap: 1rem;
  }
}
