.dailyActivity {
  position: relative;
  grid-area: a;
  background-color: #FBFBFB;
  border-radius: .3125rem;
  font-size: 14px;
}

.topSection {
  display: flex;
  height: 20%;
  padding: 1.5rem;
  margin-bottom: 5%; 
  justify-content: space-between;
  &__heading {
    font-size: 15px;
    font-weight: 500;
  }
  &__legend {
    display: flex;
    gap: 2rem;
    color: #74798C;
    font-size: 14px;
    font-weight: 500;
    & span::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      margin-right: 12px;
    }
    &__weight::before {
      background-color: #282D30;
    }
    &__calories::before {
      background-color: #E60000;
    }
  }
}

.barChartTooltip {
  display: flex;
  flex-direction: column;
  background-color: #E60000;
  color: white;
  padding: 1rem;
  gap: 1rem;
}