@import '../components/Header/Header.scss';
@import '../components/SideMenu/SideMenu.scss';
@import '../components/Welcome/Welcome.scss';
@import '../pages/Profile/Profile.scss';
@import '../components/DailyActivity/DailyActivity.scss';
@import '../components/AverageSessions/AverageSessions.scss';
@import '../components/UserRadar/UserRadar.scss';
@import '../components/Score/Score.scss';
@import '../components/Nutrients/Nutrients.scss';
@import '../components/NutrientCard/NutrientsCard.scss';

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
  padding: 0;
  font-family: 'roboto';
}
