@import '../components/Header/Header.scss';
@import '../components/SideMenu/SideMenu.scss';
@import '../components/Welcome/Welcome.scss';
@import '../components/DailyActivity/DailyActivity.scss';
@import '../components/AverageSessions/AverageSessions.scss';
@import '../components/UserRadar/UserRadar.scss';
@import '../components/Score/Score.scss';
@import '../components/KeyData/KeyData.scss';
@import '../components/KeyDataCard/KeyDataCard.scss';
@import '../components/TemplateErrorLoading/TemplateErrorLoading.scss';
@import '../pages/Profile/Profile.scss';
@import '../pages/ComingSoon/ComingSoon.scss';
@import '../pages/HomePage/HomePage.scss';


h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  background-color: rgba(0, 0, 0, 0.8);
}

body {
  max-width: 1440px;
  margin: auto;
  min-height: 100vh;
  padding: 0;
  font-family: 'roboto';
  background-color: white;
  overflow-x: hidden;
}

.sr-only {
  position: absolute;
  display: none;
}