.nutrientsCard {
  display: flex;
  background-color: #FBFBFB;
  border-radius: .3125rem;
  padding: 2rem;
  height: 7.75rem;
  width: 100%;
  gap: 1.5rem;
  align-items: center;
  cursor: pointer;
  &__icon {
    width: 3.75rem;
    height: 3.75rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    &__count {
      font-weight: 700;
      font-size: 20px;
    }
    &__type {
      font-weight: 500;
      font-size: 14px;
      color: #74798C;
    }
  }
  &:hover {
    box-shadow: 0px 2px 10px 5px #00000010;
  }
}

@media all and (max-width: 1439px) {
  .nutrientsCard {
    padding: 1rem;
    height: auto;
  }
}
